<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.bigexcalibur.herovideo">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:name=".mvp.common.application.HeroVideoApp">

        <activity android:name=".mvp.home.ui.MainActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".mvp.test.ui.TestPlayActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                  android:launchMode="singleTop"
                  android:screenOrientation="landscape"
                  android:theme="@style/AppTheme.FullScreen"
            />

        <activity android:name=".mediaplayer.VideoPlayerActivity"
                  android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
                  android:exported="false"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:screenOrientation="landscape"
                  android:theme="@style/AppTheme.FullScreen"
                  android:windowSoftInputMode="stateAlwaysHidden"
            />
    </application>

</manifest>